.stream-embed-viewing{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.stream-page{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;

}
