<a class="nav-link logout-button" (click)="this.logoutClicked()">Logout</a>
<!-- <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  admin
  {{this.user.username}}
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
  <li><a class="dropdown-item" href="#">Profile</a></li>
  <li><a class="dropdown-item" href="#">Settings</a></li>
  <li><hr class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="#">Logout</a></li>
</ul> -->
