<div class="text-center">
  <br/>
  <form role="form" (submit)="login()" class="form-signin">

    <br/>
    <!-- TODO icon -->
    <div class="message">
      <p>Please sign in</p>
    </div>

    <br/>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="this.username"
      />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="this.password"
      />
    </div>

    <br/>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>

    <br/>
    <br/>

    <a class="clickable" (click)="this.byUrl()">Login via Google</a>
  </form>
</div>
