* { padding: 0; margin: 0; }

html body {
  min-height: 100%;
  height: 100%;
}

.main-div {
  min-height: 100%;
  height: 100%;
}

.content-box {
  position: relative;
  /* overflow: hidden; */
  /* height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  height:720px;
}

.content-stretch {
  position: relative;
  display: flex;
  flex-direction: row;
}

.parent-chatbar {
  display: table-cell;
  width: 330px;
  min-height: 100%;
  height: 100%;
}

.page-content {
  width: 100%;
  display: table-cell;
  min-height: 100%;
  height: 100%;
}
