:host{
  height: 100%;
  width: 100%;
  /* left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; */
}

.content-box {
  position: relative;
  overflow: hidden;
  height: Calc(100% - 56px);
  width: 100%;
  display: flex;
}

.content-stretch {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.parent-chatbar {
  display: table-cell;
  width: 330px;
  min-height: 100%;
  height: 100%;
}

.page-content {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
