.embed-box{
  position: relative;
  width: 300px;
  height: 250px;
  background-color: black;
  margin: 0px;

  border: 1px;
  border-style: solid;
  border-color: white;
}

#TWITCH_TOKEN > .embed-preview-image{
  position: relative;
  top: 0;
  left: 0;
  transform: translateY(+41px);
  height: 100%;
  width: 100%;
}

#YOUTUBE_TOKEN > .embed-preview-image{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.embed-memo{
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 0;

  text-align: center;
  color: white;
  background-color: black;
}
