<a [routerLink]="[ '/stream-page', this.embed?.id ?? -1]">
  <div class="embed-box">
    <div [ngSwitch]="this.embed?.embedSite?.code ?? 'fail'">
      <div id="YOUTUBE_TOKEN" *ngSwitchCase="'YOUTUBE_TOKEN'">
        <img class="embed-preview-image" src="https://img.youtube.com/vi/{{this.embed?.token}}/0.jpg"/>
        <div class="embed-memo">{{this.embed?.memo ?? "Embed memo is empty."}}</div>
      </div>
      <div id="TWITCH_TOKEN" *ngSwitchCase="'TWITCH_TOKEN'">
          <img class="embed-preview-image" src="https://static-cdn.jtvnw.net/previews-ttv/live_user_{{this.embed?.token}}-300x168.jpg"/>
          <div class="embed-memo">{{this.embed?.memo ?? "Embed memo is empty."}}</div>
      </div>
      <div *ngSwitchDefault>Error</div>
    </div>
  </div>
</a>
