<igni-streamscollection
  [embeds]="this.embeds$ | async"
>
</igni-streamscollection>

<nav *ngIf="this.numberOfPages > 0" aria-label="Page navigation streams-page">
  <ul class="pagination justify-content-center">
    <li *ngIf="this.currentPage > 0" class="page-item"><a class="page-link" href="/streams-page/{{this.currentPage - 1}}">Previous</a></li>
    <ng-container *ngFor="let i of this.pagesToShow;" ngVar="">
      <li *ngIf="i > -1" [ngClass]="i === this.currentPage ? 'page-item active' : 'page-item'"><a class="page-link" href="/streams-page/{{i}}">{{i+1}}</a></li>
      <li *ngIf="i === -1" class="page-item disabled"><a class="page-link">{{"..."}}</a></li>
    </ng-container>

    <li *ngIf="this.currentPage < this.numberOfPages - 1" class="page-item"><a class="page-link" href="/streams-page/{{this.currentPage + 1}}">Next</a></li>
  </ul>
</nav>
